html {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    padding-bottom: 95px;
}
.header_main {
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    z-index: 99;
    background-color: #fff;
    /* -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 7%);
    box-shadow: 0 2px 5px rgb(0 0 0 / 7%); */
}
.header_main .container {
    width: 1200px;
    margin: 0 auto;
}
.header_main .header_main_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_main .header_main_inner_logo img {
    max-width: 100%;
    width: 100px;
}
.header_main .header_main_inner ul {
    display: flex;
    justify-content: space-between;
}
.header_main .header_main_inner ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    color: #3f4b57;
}
.header_main .header_main_inner ul li {
    text-decoration: none;
    list-style-type: none;
}
.balance_body_main {
    background-image: url("images/balance_your_body_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 100%;
    height: 992px;
    width: 100%;
    max-width: 100%;
}
.balance_body_main .container {
    width: 1200px;
    margin: 0 auto;
}
.balance_body_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.balance_body_inner .balance_body_text .btn a{
    padding: 10px 30px;
    background-color: #f0c9c3;
    text-decoration: none;
    color: #434d5a;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
}
.balance_body_text {
    width: 450px;
}
.balance_body_text h2 {
    font-size: 60px;
    color: #444d5a;
}
.balance_body_text p {
    font-size: 20px;
    color: #3d4b57;
    line-height: 1.5;
    margin-bottom: 70px;
}
/* ---------- */
.pregnant_woman_main{
    background-image: url("images/pregnant_woman.jpg");
    background-color: #cccccc;
    height: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      width: 100%;
    max-width: 100%;
    position: relative;
}
.pregnant_woman_main .container {
    width: 1200px;
    margin: 0 auto;
}

.pregnant_woman_text {
    position: absolute;
    padding-top: 250px;
    width: 500px;
    max-width: 100%;
    
}
.pregnant_woman_main .btn a {
    padding: 10px 30px;
    background-color: #f0c9c3;
    text-decoration: none;
    color: #3d4b57;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
}
.pregnant_woman_text h2 {
    font-size: 60px;
    color: #444d5a;
  }
.pregnant_woman_text p {
    font-size: 20px;
    margin-bottom: 67px;
      color: #3d4b57;
      line-height: 1.5;
}
