body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    color: rgb(85, 85, 91);
   

}
.programs{
    height:50vh;
    display:flex; 
    justify-content: space-around;
}
.program-img{
    height: 214px;
    width:206px;
}
.program-title{
    font-weight:600;
    font-size: 1.5rem;
    margin: 0;
    
}
.program-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.program-para{
    font-weight: 200;
    margin: 0;
}
.breathing{
    background-image:url("./images/yoga_breathing.png") ;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.breathing-btn{
    background-color:rgba(232, 192, 182, 100);
    border:none;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.breathing-info{
    margin: 8rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.join{
    background-image: url("./images/join_now_background.png");
   height:100vh;  
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.join-info{
    margin:1.5rem;
    padding-top: 2.5rem;
    
}
.join-info h1{
   font-size: 3.5rem;
   margin-right:15rem;
   margin-left:1rem;
   padding-right: 2.5rem;
}
.breathing-info h1{
    font-size: 3.5rem;
}
.breathing p{
    font-size: 1.5rem;
}
.join-info p{
    font-size: 1.5rem;
    padding-right: 2.2rem;
}